# macOS
**/.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcbkptlist
*.xcscmblueprint

# Build products
DerivedData/
build/
*.ipa
*.dSYM

# Swift Package Manager
.build/

# Firebase secrets
GoogleService-Info.plist
